h1 {
  text-align: center;
  color: white;
  text-decoration: underline;
}

p {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 40px;
}

.todo-app {
  margin: 20px auto;
  padding: 20px;
  background-color: darkcyan;
  border-radius: 10px;
  height: auto;
  width: 80vw;
  max-width: 600px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.card-container button {
  padding: 5px 10px;
  background-color: rgb(0, 139, 139);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.card-container button:hover {
  background-color: rgb(30, 129, 129);
}

.card {
  background: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  text-align: center;
  gap: 10px;
}

.form-card {
  background: #fff3cd;
  display: flex;
  flex-direction: column;
}

.card h3 {
  margin: 0 0 10px;
}

.card button {
  margin-right: 10px;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
}

.badge.done {
  background-color: #d4edda;
  color: #155724;
}

.badge.pending {
  background-color: #f8d7da;
  color: #721c24;
}